@import url('https://fonts.googleapis.com/css?family=Roboto');
@import "variables";

html {
  height: 100%;
  width: 100%;
  font-size: 16px;
  color: $gray-800;

  @media screen and (min-width: $screen-md-min) {
    font-size: 18px;
  }

  @media screen and (min-width: $screen-xl-min) {
    font-size: 20px;
  }
}

body {
  font-family: $font-family-sans-serif;
  height: 100%;
  width: 100%;
}

#chat-app-container {
  height: 100%;
}