// Colors

$englishGreen: rgba(26, 83, 92, 1);
$mediumTurquoise: rgba(78, 205, 196, 1);
$mintCream: rgba(247, 255, 247, 1);
$pastelRed: rgba(255, 107, 107, 1);
$maize: rgba(255, 230, 109, 1);

$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black:    #000 !default;

// Fonts

$font-family-sans-serif: Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;

// Break points
// Small screen / phone
$screen-sm-min: 576px;
// Medium screen / tablet
$screen-md-min: 768px;
// Large screen / desktop
$screen-lg-min: 992px;
// Extra large screen / wide desktop
$screen-xl-min: 1200px;